
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
 /*  ~~~~~~~~~~  carousel  ~~~~~~~~~~  */
.carousel {
  height: auto;
  margin-bottom: 30px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: auto;
  background-color: #0000;
}

/*  ~~~~~~~~~~  center1  ~~~~~~~~~~  */

.center1 .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.cnenter1 h1 {
  font-weight: normal;
}
.center1 .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
/*  ~~~~~~~~~~  navbar  ~~~~~~~~~~  */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /*  ~~~~~~~~~~  carousel  ~~~~~~~~~~  */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.img-circle{
  width:140px;
  height:140px; 
}